<ion-modal-view class="note-modal-container" ng-style="backgroundStyles">
  <ion-header-bar class="ceaseless-bar-dark">
    <div class="buttons">
      <button class="button button-clear" ng-click="cancelNote()">Close</button>
    </div>
    <h1 class="title">{{now | date:'short'}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="saveNote()">Save</button>
    </div>
  </ion-header-bar>
  <ion-content scroll="false" class="people-tagger">
    <label class="item item-input">
      <input type="text" placeholder="Tag your friends" ng-model="noteData.peopleTagged">
    </label>
  </ion-content>
  <ion-content overflow-scroll="true" class="note-body-container">
    <div class="table note-view-container">
      <div class="table-row">
        <div class="table-cell body-content-outer-wrapper">
          <div class="body-content-inner-wrapper">
            <textarea class="body-content note-body">{{noteData.id}} {{noteData.contents}}</textarea>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
