<ion-view ng-style="backgroundStyles">
  <ion-nav-title>
    {{title}}
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="saveNote()">Save</button>
  </ion-nav-buttons>
  <ion-content scroll="false" class="people-tagger">
    <label class="item item-input">
      <input type="text" placeholder="Tag your friends" ng-model="noteData.peopleTagged">
    </label>
  </ion-content>
  <ion-content overflow-scroll="true" class="note-body-container">
    <div class="table note-view-container">
      <div class="table-row">
        <div class="table-cell body-content-outer-wrapper">
          <div class="body-content-inner-wrapper">
            <textarea class="body-content note-body" ng-model="noteData.text"></textarea>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
