<ion-view view-title="Ceaseless" class="daily-experience-home">
  <ion-nav-title>
    <img class="logo-main" src="img/ceaseless-dove-logo-main@2x.png">
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <a ng-click="openJournal()" class="button button-icon button-clear ion-ios-bookmarks-outline">
    </a>
  </ion-nav-buttons>
  <ion-content scroll="false" ng-style="backgroundStyles">
    <ion-slide-box class="daily-card-container" ng-hide="transitioning" on-slide-changed="slideHasChanged($index)">
      <ion-slide class="card-view" ng-repeat="card in cards">
        <ng-include src="card.template"></ng-include>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
