<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="ceaseless-bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view style="background-image:url('img/at_the_beach.jpg'); background-repeat:no-repeat; background-size:cover;" name="menuContent" ></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side=""right">

  </ion-side-menu>
  <ion-side-menu side="left" style="background-image:url('{{backgroundImage}}'); background-repeat:no-repeat" class="ceaseless-menu-dark">
    <ion-header-bar class="ceaseless-bar-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close>
          People
        </ion-item>
        <ion-item menu-close>
          Settings
        </ion-item>
        <ion-item menu-close>
          Help
        </ion-item>
        <ion-item menu-close>
          Contact Us
        </ion-item>
        <ion-item menu-close>
          About
        </ion-item>
        <ion-item menu-close>
          Review Ceaseless
        </ion-item>
        <ion-item menu-close>
          Subscribe to Newsletter
        </ion-item>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/search">
          Search
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
