<ion-view view-title="People">
  <ion-content overflow-scroll="true" ng-style="backgroundStyles">
    <h1>People *</h1>
    <div>This is where you can do stuff with your contacts</div>
    <div>{{userMsg}}</div>
    <div>{{contacts.length}} total contacts</div>
    <button class="button" ng-click="getContactList()">Get My Contacts</button>
    <ion-list>
      <ion-item class="item item-avatar" collection-repeat="contact in contacts">
        <img ng-src="{{contact.profilePicture}}" ng-show="contact.profilePicture"/>
        <div class="item-image" ng-hide="contact.profilePicture" style="background-color:rgba(0, 1, 47, 0.8); text-align:center; color:white;font-size:8px;">
          {{contact.initials}}
        </div>
        <h2>{{contact.displayName}}</h2>
        <p>{{contact.name.formatted}}</p>
        <p>{{contact.profilePicture}}</p>
        <p>{{contact.initials}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
