<ion-view view-title="Ceaseless">
  <ion-nav-title>
    <img class="logo-main" src="img/ceaseless-dove-logo-main@2x.png">
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button ng-click="openJournal()" class="button button-icon button-clear ion-ios-bookmarks-outline">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
