<div class="inner-card" ng-style="cardStyles" ng-controller="PersonCardController">
  <!-- background image -->
  <img ng-src="{{backgroundImage}}" style="width:200px"/>

  <div class="card-content">
    <div>{{card.title}}</div> <!-- Name ... button-->
    <div>
      <img ng-src="{{card.photoProfile}}" ng-show="card.photoProfile"/>
      <span style="background-color: #00012f; border-radius: 6px; font-size: 24px; margin: 2px auto;" ng-hide="card.photoProfile">{{card.initials}}</span>
    </div> <!-- photo? -->
    <div></div> <!-- card? -->
  </div>
</div>