<div class="inner-card" ng-style="cardStyles" ng-controller="PersonCardController">
  <div style="width:100%; background-color:rgba(0, 1, 47, 0.8); color: white; font-size:17px; height:44px; padding: 13px 0;">
    <span style="margin-left: 8px; white-space: nowrap;">{{card.title}}</span>
  </div>
  <div class="card-content">
    <div style="text-align: center;">
      <div style="height:92px; margin:18px auto; padding: 24px 0;" ng-hide="card.photoProfile">
        <span style="background-color:rgba(0, 1, 47, 0.8); padding:20px; border-radius: 6px; font-size: 46px; height: 92px;">{{card.initials}}</span>
      </div>
      <img ng-src="{{card.photoProfile}}" ng-show="card.photoProfile" style="border-radius: 6px; margin: 8px auto;"/>
    </div>
    <div style="width: 100%; background-color:rgba(0, 1, 47, 0.8);">
      <ul>
        <li>
          Note 1
        </li>
        <li>
          Note 2
        </li>
        <li>
          Note 3
        </li>
      </ul>
    </div>
  </div>
</div>