<div class="inner-card" ng-controller="ScriptureCardController">
  <!-- inverted blurred image -->
  <div class="card-background">
    <img ng-src="{{backgroundImage}}" style="width:400px"/>
    <img ng-src="{{blurredImage}}" style="width:400px;-webkit-transform:scaleY(-1);transform: scaleY(-1);"/>
  </div>
 <!-- scripture text -->

  <div class="card-content">
    <div>{{card.title}}</div> <!-- Name ... button-->
    <div>Be joyful always, pray continually,
      give thanks in all circumstances for this is God's will for you
      in Christ Jesus</div> <!-- photo? -->
    <div></div> <!-- card? -->
  </div>
</div>