<div class="inner-card" ng-style="cardHeightStyle" ng-controller="ScriptureCardController">
  <div style="height:100%">
    <img ng-src="{{verseImage}}" style="width:100%; height:50%;"/>
    <div style="width:100%; position:relative; height:50%">
      <div style="position:absolute; top:0px; left:0; width:100%;min-height:100%;">
        <img ng-src="{{blurredImage}}" style="width:100%;height:100%;min-height:100%; min-width:100%;-webkit-transform:scaleY(-1);-ms-transform: scaleY(-1);transform: scaleY(-1);"/>
      </div>
      <div style="color:white; text-align:center; position: absolute; top:10px; left:0; margin:8px;">
        <div>{{card.title}}</div>
        <div>Be joyful always, pray continually,
          give thanks in all circumstances for this is God's will for you
          in Christ Jesus</div>
      </div>
      <span style="position:absolute; font-size: 32px; color: white; bottom:8px; right: 8px" ng-click="showShareDialog()"><i class="ion-android-share"></i></span>
    </div>
  </div>
</div>
