/* Empty. Add your own CSS if you like */
.ceaseless-bar-dark {
    background-color:#00012f;
    color: white;
}

.ceaseless-bar-dark h1 {
    color:white;
}

.logo-main {
    vertical-align:middle;
}

/* Dealing with notes */
.note-view-container {
    min-height: 400px;
}

.note-body {
    padding: 6px;
    width: 100%;
}

.note-body-container {
    top: 90px; /* a fixed calculation */
}

.people-tagger {
    width: 100%;
}

.table {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.body-content-outer-wrapper {
    height: 100%;
}

.body-content-inner-wrapper {
    height: 100%;
    position: relative;
    overflow: auto;
}

.body-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}