/* Empty. Add your own CSS if you like */
.ceaseless-bar-dark {
    background-color:#00012f;
    color: white;
}

.ceaseless-bar-dark h1 {
    color:white;
}

.note-editor-container {
    padding: 3px;
}

.note-editor-container textarea {
    width: 100vw;
    height: 100vh;
}