/* App level CSS */
[nav-view-transition][nav-view-direction] {
    background-color: transparent;
}

.ceaseless-bar-dark {
    background-color:#00012f;
    border-bottom-color: #020331;
    color: white;
}

.ceaseless-bar-dark h1 {
    color:white;
}

.ceaseless-menu-dark {
    color: white;
    background: rgba(0, 1, 47, 0.6) no-repeat;
    background-size: cover;
}

.ceaseless-menu-dark .item, .ceaseless-menu-dark a.item-content {
    background-color:rgba(0,1,47,0.6);
    color: white;
}

.ceaseless-menu-dark a.item-content.activated {
    border-style: none;
    background-color: rgba(20, 21, 67, 0.6);
}

.logo-main {
    vertical-align:middle;
    max-width: 120px;
    margin:0 auto;
}

/* Daily Card View style*/
.daily-experience-home {
    background-color: transparent;
}

.daily-card-container {
    height: 100%;
}

.card-view {
    height: 100%;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
}

.inner-card {
    border-radius: 6px;
    background-color:rgba(0,0,0,0.3);
    /*box-shadow: 3px 3px 3px 1px rgba(3,3,3,0.6);*/
}

.shadow-card {
    position:relative;
    top: 3px;
    left: 3px;
    border-radius: 6px;
    background-color: rgba(0,0,0,0.8);
}

.card-view .blurredImg {

}

/* Journal style */
.journal {
    background-color: transparent;
}

/* Dealing with notes */

.list .note-item {
    border-radius:6px;
    margin: 6px;
}

.list .note-item, .note-item .item-content {
    border-style: none;
    background-color:rgba(0,1,47,0.6);
}

.note-item .item-content.activated {
    border-style: none;
    background-color: rgba(20, 21, 67, 0.6);
}

.note-item .item-content h2, .note-item .item-content p {
    color: white;
}

.note-view-container {
    min-height: 400px;
}

.note-body {
    padding: 6px;
    width: 100%;
}

.note-body-container {
    top: 90px; /* a fixed calculation */
}

.people-tagger {
    width: 100%;
}

.table {
    display: table;
    width: 100%;
}

.table-row {
    display: table-row;
}

.table-cell {
    display: table-cell;
}

.body-content-outer-wrapper {
    height: 100%;
}

.body-content-inner-wrapper {
    height: 100%;
    position: relative;
    overflow: auto;
}

.body-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}